#change-password-block{
    display: flex;
    justify-content: center;
    margin-top: 10vh
}
label::before{
    content: "\a";
    white-space: pre;
}
label::after{
    content: "\a";
    white-space: pre;
}

#message-success{
    color: green;
}

#message-error{
    color: red;
}

.message-error-detail{
    margin-left: 2vw;
}

.errorlist{
    color: red;
}

form>button{
    margin-top: 5vh;
    font-size: 20px;
    background-color: #7289da;
    color: white;
    transition-duration: 0.4s;
    border-radius: 2px;
    margin-bottom: 1vh;
    margin-left: 0.2vw;
    border: 0px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

form>button:hover{
    background-color: rgb(226, 226, 226);
    color: black;
}