{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/password/password_reset.css' %}">
{% endblock %}

{% block content %}

    <div id="password-reset-content">
        <div>
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
            <hr>
            <p>If an account exists with this email address you should receive the password reset email shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
        </div>
    </div>

{% endblock %}