{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/password/password_reset.css' %}">
{% endblock %}

{% block content %}
<div id="password-reset-content">
    <form method="post">
        {% csrf_token %}
        <h1>Forgotten password</h1>
        <p>Please enter your email below and we send an email to reset your password!</p>
        {{password_reset_form}}
        <button>Send reset email</button>
    </form>
</div>
{% endblock %}