{% load static%}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} Distort</title>

        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon.png' %}">

        <style>
            
        </style>
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="topnav">
            <div>
                <a href="/" class="active">Home</a>
            </div>
            {% if request.user.is_authenticated %}
            <div class="topnav-text-left">
                Logged in as: {{request.user.username}}
            </div>
            {% endif %}
            <div class="topnav-right">
                {% if request.user.is_authenticated %}
                {% if request.user.email == "" %}
                <a href='/profile/{{ request.user.username }}'>Profile ❗</a>
                {% else %}
                <a href='/profile/{{ request.user.username }}'>Profile</a>
                {% endif %}
                <a href="/rooms/"class=""> Rooms </a>
                <a href="/logout/" class="">Logout</a>
                
                {% else %}
                
                <a href="/login/" class="">Login</a>
                <a href="/register/" class="">Register</a>
                {% endif %}
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>