{% extends 'core/base.html' %}
{% load static%}

{% block title %}Change password | {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/change-password.css' %}">
{% endblock %}

{% block content %}
<div id="change-password-block">
    <form method="post">
        
        {% csrf_token %}
        {{ form }}
        <br>
        {% if messages %}
        <div id="message-container">
            {% for message in messages %}
                <p {% if message.tags %} id='message-{{ message.tags }}'{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit">Save password</button>
        <button onclick="back_to_profile()">Back to my profile</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script>
        function back_to_profile(){
            link = document.getElementById('profile-button').href
            window.location.href = link
            console.log("clicked")
        }
    </script>
{% endblock %}