{% extends 'core/base.html' %}
{% load static%}

{% block title %}Login | {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user-forms.css' %}">
{% endblock %}
{% block content %}

<form method="post" action="." class="">
    {% csrf_token %}
    <h3>Login</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Username" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password">

    {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="">
                        <p>{{error|escape}}</p>
                    </div>
                {%endfor%}
            {%endfor%}
        {%endif%}

    <button>Log In</button>
    <a id="redirect" href="/register/">Not registered yet? click here!</a>
</form>
{% endblock %}