{% extends 'core/base.html' %}
{% load static%}

{% block title %}Register | {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user-forms.css' %}">
{% endblock %}

{% block content %}

<form method="post" action=".">
    {% csrf_token %}
    <h3>Register</h3>
    <div class="mb-5">
        <label class="text-white">Username</label>

        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="mb-5">
        <label for="email">Email</label>
    <input type="email" placeholder="Email" name="email">
    </div>
    
    <div class="mb-5">
        <label class="text-white">Password</label>
        <input type="password" name="password1" placeholder="Password">
    </div>
    <div class="mb-5">
         <label class="text-white">Repeat password</label>
         <input type="password" name="password2" placeholder="Repeat Password">
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    <p>{{error|escape}}</p>
                </div>
            {%endfor%}
        {%endfor%}
    {%endif%}

    <button>Register</button>
    <a id="redirect" href="/login/">Already registered? Click here!</a>
</form>
{% endblock %}