{% extends 'core/base.html' %}
{% load static%}

{% block title %}Rooms | {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/rooms.css' %}">
{% endblock %}

{% block content %}
<div class="center">
    <h1 class="text-3xl lg:text-6xl text-white">Rooms</h1>
</div>

<div class="container">
    {% for room in rooms %}
        <div class="card center">
                <h2 class="center">{{room.name}}</h2>
                <a href="{% url 'room' room.slug %}" class="button1">Join</a>
        </div>
    {% endfor %}
</div>
{% endblock %}