{% extends 'core/base.html' %}
{% load static%}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/room.css' %}">
<script type="module" src="{% static 'js/emojiPicker.js' %}"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script type="module" src="https://unpkg.com/emoji-picker-element@1"></script>
{% endblock %}
<div class="center">
    <h1>{{ room.name }}</h1>
</div>
    <div class="text-box">
        <div id="chat-messages">
            {% for message in messages %}
                <div class="">
                    {% if message.user.is_superuser %}
                    <b><p class="chat-message-name admin"><a href='/profile/{{ message.user.username }}'>{{ message.user.username }}</a>:</p></b>
                    {% else %}
                    <b><p class="chat-message-name user"><a href='/profile/{{ message.user.username }}'>{{ message.user.username }}</a>:</p></b>
                    {% endif %}
                    <p class="chat-message-text">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="chat-users">
            <div class="chat-users-head"><b>Current users:</b>
            </div>
            <div id="users">
            </div>
        </div>
    </div>
    <div id="typing-text-container">
        <div id="typing-text">

        </div>
    </div>
    <div id="input-form">
        <form method="post" action="." class="flex">
            {% csrf_token %}
            <div class="input-form">
                <input type="text" name="content" placeholder="Your message.." id="chat-message-input" class="chat-message-input" onkeyup="sendTypingStatus()">
                <img src="{% static 'images/util/emojis.png' %}" id="emoji-button">
                <button id="chat-message-submit">Submit</button>
            </div>
        </form>
    </div>
    
            <div class="tooltip" role="tooltip" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 29px);" data-popper-placement="top">
                <emoji-picker></emoji-picker>
            </div>





{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
{{ request.user.is_superuser|json_script:"json-userrole" }}
    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
        const userName = JSON.parse(document.getElementById('json-username').textContent)
        const user_role = JSON.parse(document.getElementById('json-userrole').textContent)


        const chatSocket = new WebSocket(
            'ws://'
            +window.location.host
            +'/ws/'
            +roomName
            +'/'
        );

        let timer;
        const waitTime = 3000;   // Wait time in milliseconds
        let typingSended = false; 

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            if('build_user_in_room_list' in data){
                sendUserStateToList(true)
            }else if('user_list' in data){
                build_user_list(data)
            }else if('typing_list' in data){
                update_currently_typing_list(data)
            }else{
                if (data.message){
                    div = build_message_div(data)
                    document.querySelector('#chat-messages').innerHTML += div;
                    scrollToBottom();
                }
            }
        }
            
        function update_currently_typing_list(data){
            typing_list = data["typing_list"]
            users = typing_list.split(",")
            if(userName == users || users[0] === ""){
                users = ""
            }else if(users.includes(userName)){
                const index = users.indexOf(userName);
                users.splice(index, 1)
            }
            if(users.length > 3){
                div = users[0]+", "+users[1]+" and several people typing..."
                document.getElementById('typing-text').innerText = div
            }else if(users.length < 4 && users.length > 0){
                div = users.join(", ")+" is typing..."
                document.getElementById('typing-text').innerText = div
            }else{
                document.getElementById('typing-text').innerText = ""
            }
        }

        function build_user_list(data){
            div = ""
            users = data["user_list"].split(",")
            if(users.length <= 1){
                div +="<div><i>"+data["user_list"]+"</i></div>"
            }else{
                for (let i = 0; i < users.length; i++){
                    div+="<div><i>"+users[i]+"<i></div>"
                }
            }
            
            document.getElementById('users').innerHTML = div;
            
        }

        function build_message_div(data){
            let html = '<div class="message"">';
                        if (data.super_user){
                            html+='<b><p class="chat-message-name admin"><a href="/profile/'+ data.username +'">' + data.username + '</a>:</p></b>'
                            console.log(html)
                        }else{
                            html+='<b><p class="chat-message-name user"><a href="/profile/'+ data.username +'">' + data.username + '</a>:</p></b>'
                        }
                    html+='<p class="chat-message-text">' + data.message.replace(/</g, "&lt;").replace(/>/g, "&gt;") + '</p>'; // replace for "<>" to eliminate HTML injection
                    html+='</div>';
                    return html
        }

        chatSocket.onclose = function(e){
            alert("Connection lost, redirect to rooms")
        }

        chatSocket.onopen = function(e){
            sendUserStateToList(true)
        }

        function sendUserStateToList(state){
            chatSocket.send(JSON.stringify({
                'username': userName,
                'inRoom': state,
                'room': roomName
            }));
        }

        //

        document.querySelector("#chat-message-submit").onclick = function(e){
            e.preventDefault();

            const messageInputDom = document.querySelector("#chat-message-input");
            const emoji_menu = document.querySelector(".tooltip")
            const message = messageInputDom.value;
            message.replace(/</g, "&lt;").replace(/>/g, "&gt;")

            if(message.length !== 0){
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': roomName,
                    'super_user': user_role,
                }));
            }
            emoji_menu.classList.remove('shown')

            messageInputDom.value = '';
            
            return false;
        }

        //

        function scrollToBottom(){
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();

        async function sendTypingStatus(e){
            clearTimeout(timer)
            
            timer = setTimeout(() => {
                chatSocket.send(JSON.stringify({
                    'username': userName,
                     'typing': false,
                     'room': roomName
                 }));
                typingSended = false;
                
            }, waitTime);
            if(!typingSended){
                typingSended = true;
                chatSocket.send(JSON.stringify({
                    'username': userName,
                     'typing': true,
                     'room': roomName
                 }));
            }
            
        }
    </script>
{% endblock %}